---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import BlogLayout from "@layouts/BlogLayout.astro";
import Formatter from "@utils/formatter";

export const getStaticPaths = (async () => {

  const blogPosts = await getCollection("blog");

  return blogPosts.map((blogPost) => ({
    params: { slug: blogPost.slug },
    props: { post: blogPost },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
---

<BlogLayout
  title={post.data.title}
  description="Lorem Ipsum dolor dolem"
  robots="index, follow"
>
  <h1>{post.data.title}</h1>

  <p>{Formatter.formatDate(post.data.date)} - {post.data.author}</p>

  <div class="text-white">
    {post.body}
  </div>
</BlogLayout>