---
import { Image, Picture } from "astro:assets";
import Divider from "@components/Divider.astro";
import MainLayout from "@layouts/MainLayout.astro";
import post05Image from "@images/post-05.png";
import "@styles/global.css";
---

<MainLayout
  title="Images Excercise"
  description="Images Excercise in Astro"
  robots="noindex, nofollow"
>
  <div class="container px-5 mx-auto">
    <h1 class="heading">Images</h1>

    <Divider />

    <h2>Low Quality</h2>

    <Image
      src={post05Image}
      quality="low"
      class="w-[500px] h-{500px}"
      width={500}
      height={500}
      alt="Post Image"
    />

    <h2>Mid Quality</h2>

    <Image
      src={post05Image}
      quality="mid"
      format="webp"
      class="w-[500px] h-{500px}"
      width={500}
      height={500}
      alt="Post Image"
    />

    <h2>High Quality</h2>

    <Image
      src={post05Image}
      quality="high"
      format="webp"
      class="w-[500px] h-{500px}"
      width={500}
      height={500}
      alt="Post Image"
    />

    <h2>Max Quality</h2>

    <Image
      src={post05Image}
      quality="max"
      format="jpg"
      format="webp"
      class="w-[500px] h-{500px}"
      width={500}
      height={500}
      alt="Post Image"
    />

    <h2>Picture Formats</h2>

    <Picture
      src={post05Image}
      quality="low"
      formats={["avif", "jpg"]}
      class="w-[500px] h-{500px}"
      width={500}
      height={500}
      alt="Post Image"
    />
  </div>
</MainLayout>

<style>
  h2 {
    @apply text-orange-500 text-2xl my-5;
  }
</style>